body{
    margin:auto
}
a{
    text-decoration:none
}
header{
    height:60px;
    width:100%;
    /* border:2px solid black; */
    background-color:#f79a4e
}
#brand{
    font-size:30px;
    color:white;
    float: left;
    margin-top:1%;
    margin-left: 1%;
}

#social{
    float: left;
    margin-left: 72%;
}

.socialImg{
    height:50px
}
/*search section*/

#search{
    height:450px;
    width:100%;
    background-image: url('images/foodWallpaper.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 450px;
}

.logo{
    height:150px;
    width:150px;
    background-color: white;
    border-radius:50%;
    margin-left: 44%;
    margin-top: 1%;
    position: absolute;
}

.logo > span{
    margin-left: 20%;
    margin-top: 10%;
    position: absolute;
    font-size:90px;
    color:red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#heading{
    margin-left: 31%;
    margin-top: 15%;
    position: absolute;
    font-size: 50px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#dropdown{
    width:50%;
    height:60px;
    margin-left: 26%;
    margin-top: 22%;
    position: absolute;
}
select{
    width:40%;
    height:60px; 
    font-size: 15px;
}

#restaurants{
    width:59%;
}

/*quickSearch section*/
#quickSearch{
    height:600px;
    width:80%;
    margin-left: 10%;
    margin-top: 2%;
}
#QuickSearchHeading{
    color:#f79a4e;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    display:block;
    margin-left: 1%;
}
#QuickSearchSubHeading{
    color:gray;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 3;
    position:absolute;
    margin-left: 1%;
}
.tileContainer{
    height:180px;
    width:31%;
    margin-left: 1%;
    margin-top: 5%;
    display:inline-block;
    box-shadow: 10px 20px 10px gray;

}

.tileComponent1{
    width:52%;
    float:left
}

.tileComponent1>img{
    width:100%;
    height: 180px;
}

.tileComponent2{
    width:45%;
    float: left;
    margin-top:15%;
    margin-left:2%
}

.componentHeading{
    color:#f79a4e;
    font-size:25px
}

.componentHeading > a {
    text-decoration:none;
    color:#f79a4e !important;
}

.componentSubHeading{
    color:gray;
    font-size:18px;

}

footer{
    height:80px;
    width:100%;
}

.foot1{
    height:80px;
    width:32%;
    border-right: 2px solid black;
    float: left;
}
.foot2{
    border:none
}