body{
    margin:auto
}
a{
    text-decoration:none
}
header{
    height:60px;
    width:100%;
    /* border:2px solid black; */
    background-color:#f79a4e
}
#brand{
    font-size:30px;
    color:white;
    float: left;
    margin-top:1%;
    margin-left: 1%;
}

#social{
    float: left;
    margin-left: 60%;
    margin-top: 1%;
}

.socialImg{
    height:50px
}