#quickSearch{
    height:600px;
    width:80%;
    margin-left: 10%;
    margin-top: 2%;
}
#QuickSearchHeading{
    color:#f79a4e;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    display:block;
    margin-left: 1%;
}
#QuickSearchSubHeading{
    color:gray;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 3;
    position:absolute;
    margin-left: 1%;
}
.tileContainer{
    height:180px;
    width:31%;
    margin-left: 1%;
    margin-top: 5%;
    display:inline-block;
    box-shadow: 10px 20px 10px gray;

}

.tileComponent1{
    width:52%;
    float:left
}

.tileComponent1>img{
    width:100%;
    height: 180px;
}

.tileComponent2{
    width:45%;
    float: left;
    margin-top:15%;
    margin-left:2%
}

.componentHeading{
    color:#f79a4e;
    font-size:25px
}

.componentHeading > a {
    text-decoration:none;
    color:#f79a4e !important;
}

.componentSubHeading{
    color:gray;
    font-size:18px;

}
